#objava{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabela{
    margin: 0 auto;
    width: 50%;
    vertical-align: middle;
    text-align: center;
}

#slikaObjave{
    width: 500px;
    height: 500px;
    width: 50%;
    align-items: center;
    float: left;
}


#tekst{
    width: 50%;
    align-items: center;
    float: right;
}

div{
    display: inline-table;
    text-align: center;
}

#post{
    display: inline-block;
    align-items: center;
    width: 1075px;
    height: 500px;
}

.fiksiraj_profilne{
    width: 130px;
    height: 130px;
}

p#greska {
	color: red;
}

i {
	float: right;
	color: red;
}

.unos {
	width: "500px";
	height: "90px";
}