#dodavanjeObjave{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table tr td{
    padding: 10px;
}

.txtbox{
    height: 200px;
}

button{
    float:right;
}

#greska {
	color: red;
}