#izmenaPodataka {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table td{
    width: 250px;
    padding: 5px;
    text-align: right;
}

#podaci{
    width: 250px;
}

.datepickeri{
    width: 250px;
}

.greska {
	color: red;
}

.fiksiraj_objave{
    width: 130px;
    height: 130px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
}

[type=radio]:checked + img {
    outline: 5px solid lightgreen;
}