#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table td{
    width: 250px;
    padding: 5px;
    text-align: center;
    color: red;
}

#podaci{
    width: 250px;
}

