#glavniFlexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.fiksiraj_velicinu_profilne{
    width: 200px;
    height: 200px;
}

.fiksiraj_velicinu_prijatelja{
    width: 120px;
    height: 120px;
}

.fiksiraj_velicinu_fotografije{
    width: 135px;
    height: 135px;
}

#prijatelji td{
    padding:5px;
}

#slikeTekst{
    margin-bottom: 20px;
}

#slike tr td{
    padding: 12px;
}

#prijatelji tr td img:hover{
    cursor:pointer;
}

#slanjePoruke{
    margin-bottom: 25px;
    height: 50px;
    width: 100px
}

#slanjeZahtevaZaPrijateljstvo{
    height: 50px;
    width: 100px
}

.fiksiraj_objave{
    width: 385px;
    height: 300px;
}

div#profil {
	height: 30%;
	float: top;
}

div#opis {
    height: 20%;
    float: middle;
    align-items: left;
}

#slika {
    height: 50%;
    float: bottom;
}

div.objava {
    display: block;
    border-style: groove;
    border-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#objave{
    display: block;
    align-items: center;
    width: 400px;
}

.profilnaSlika {
    float: left;
    height: 45px;
    width: 45px;
    margin: 0px 15px 0px 0px;
    border-radius: 50%;
}