#registracija {
    position: relative;
    left: -10px;
}

#login{
    position: relative;
    left: -30px;
}

#slika {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bar{
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
}

.pronadji{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table td{
    width: 250px;
    padding: 5px;
}

button{
    width: 250px;
}

.datepickeri{
    width: 250px;
}

p{
    text-align: center;
    position: relative;
}

#slika{
    left: 40px;
}