#sajt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#poruke {
    width: 1500px;
    display: inline-table;
}

#prijatelji {
    width: 30%;
    float: left;
    display: flex;
    flex-direction: column;
}

#porukeDiv {
    width: 70%;
    float: right;
    display: block;
    height: 800px;
}

.profilna{
    width: 130px;
    height: 130px;
    float: left;
}

.poljePrijatelj {
    margin-top: 5px;
    margin-bottom: 5px;
}

#poljePoruke {
    height: 90%;
    float: top;
    overflow: auto;
}

#slanje {
    height: 10%;
    float: bottom;
}

.poljeUnos {
    width: 900px;
    height: 50px;
}

#slanjePoruke {
    width: 100px;
    height: 40px;
}

.poruka {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
  
.poslata {
    border-color: #ccc;
    background-color: darkslateblue;
    color: white;
}
 
.poruka::after {
    content: "";
    clear: both;
    display: table;
}
  
  
.poruka img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}
  
 
.poruka img.desno {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

#greska {
	color: red;
}