#flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fiksiraj_profilne{
    width: 130px;
    height: 130px;
}

.razmak tr td{
    padding: 30px;
    vertical-align: middle;
}

button{
    width: 200px;
}