#profilne{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fiksiraj_objave{
    width: 385px;
    height: 300px;
}

button{
    margin-top: 15px;
    margin-right: 15px;
    width:150px;
}

div#profil {
	height: 30%;
	float: top;
	align-items: left;
}

div#opis {
    height: 20%;
    float: middle;
}

#slika {
    height: 50%;
    float: bottom;
}

div.objava {
    display: block;
    border-style: groove;
    border-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#objave{
    display: block;
    align-items: center;
    width: 400px;
}

.profilnaSlika {
    float: left;
    height: 45px;
    width: 45px;
    margin: 0px 15px 0px 0px;
    border-radius: 50%;
}