#profilne{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table tr td{
    padding: 10px;
}

.fiksiraj_objave{
    width: 130px;
    height: 130px;
}

button{
    margin-top: 15px;
    margin-right: 15px;
    width:150px;
}
