#glavniFlexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#potvrdaUnosa{
    width:250px;
}

#upiti td{
    width: 250px;
    padding: 5px;
}

#prijatelji td{
    padding:5px;
}

#prijatelji tr td img:hover{
    cursor:pointer;
}

.slika{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#profilna{
    margin-bottom: 6px;
}

#podaci p{
    margin: 8px;
}

.dodajSliku{
    width: 95px;
    margin-top: 10px
}

.fiksiraj_velicinu_prijatelja{
    width: 120px;
    height: 120px;
}

.fiksiraj_profilnu{
    width: 300px;
    height: 300px;
}